*{
    box-sizing: border-box;
}

body{
	
    background-image: url("../../assets/images/strawberry.jpg");  
     
    height: 100%; 
       	 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  
}


#game-action{
  margin-left: 5%;
  font-style: bold;


}
#end{
    margin: 10%;
    background-color: #008CBA; 
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 25%;
}
#choices{
    margin-left: 10px;
}